# ─── IPO Database ────────────────────────────────────────────────────────────
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ipo_db
DB_USER=ipo_user
DB_PASSWORD=ipo_pass

# ─── Airflow ─────────────────────────────────────────────────────────────────
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=ZmDfcTF7_60GrrY167zsiPd67pEvs0aGOv2oasOM1Pg=

# ─── Alerts ──────────────────────────────────────────────────────────────────
ALERT_EMAIL=your-email@example.com

# ─── Scraper ─────────────────────────────────────────────────────────────────
RAW_DATA_PATH=/opt/airflow/data/raw
PROCESSED_DATA_PATH=/opt/airflow/data/processed
